@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jersey+15&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --left: 0%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cinzel", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  min-height: 1000vh;
  max-width: 120vw;
  max-height: 119.2361111111vw;
  background-color: #292F36;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  padding: 10px;
  margin: auto;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  max-width: calc(100% - 120px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 4.1666666667vw;
  z-index: 10;
  transition: background-color 1s ease-in-out, opacity 1s ease, top 1s ease-in-out;
}
header .logo {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
header .logo img {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}
header .logo h1 {
  color: white;
  font-size: 1.67vw;
}
header .primary-nav {
  display: flex;
  gap: 3.5416666667vw;
  align-items: center;
  text-transform: capitalize;
}
header .primary-nav a {
  text-decoration: none;
  color: white;
  transition: color 1s ease-in-out;
}
header .primary-nav a:hover {
  color: #2EA787;
}
header .toggle-container {
  width: 74px;
  height: 38px;
  background-color: #D9D9D9;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
}
header .toggle-container .toggle {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: #2EA787;
  display: inline-block;
  margin-left: 0;
  transition: margin-left 1s ease;
}
header .toggle-container .toggle.active {
  margin-left: calc(100% - 38px);
}

.home-section {
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-image: url("./imgs/developer.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 46.7361111111vw;
}
.home-section .title, .home-section .description {
  margin-left: 21.7857142857vw;
  color: white;
  width: 44vw;
  z-index: 10;
}
.home-section .title {
  margin-top: 22.5714285714vw;
  font-size: 4.4444444444vw;
  width: 100vw;
}
.home-section .title span.animate {
  animation: changeColor 2s ease-in-out 2s;
}
.home-section .title h1.animate {
  animation: changeColor 2s ease-in-out 2s;
}
@keyframes changeColor {
  0% {
    color: white;
    opacity: 1;
    text-shadow: 2px 2px 2px white;
  }
  25% {
    color: orange;
    opacity: 0.75;
    text-shadow: 4px 4px 4px white;
  }
  50% {
    color: yellow;
    opacity: 0.5;
    text-shadow: 2px 2px 2px white;
  }
  75% {
    color: yellowgreen;
    opacity: 0.25;
    text-shadow: 4px 4px 4px white;
  }
  95% {
    color: yellowgreen;
    opacity: 0;
    text-shadow: 4px 4px 4px white;
  }
  100% {
    color: green;
    opacity: 1;
    text-shadow: 4px 4px 4px white;
  }
}
.home-section .cont {
  display: flex;
  margin-top: 1.4285714286vh;
  align-items: end;
  width: auto;
}
.home-section .cont .description {
  font-size: 2.0833333333vw;
}
.home-section .cont .download {
  margin-left: 7.4285714286vw;
  padding: 14px 25px;
  border-radius: 20px;
  border: none;
  background-color: #2EA787;
  color: white;
  transition: background-color 1s ease-in-out, color 1s ease, border 1s ease-in;
}
.home-section .cont .download:hover {
  border: 1px solid #2EA787;
  color: #2EA787;
  background-color: transparent;
  cursor: pointer;
}
.home-section .floating-nav {
  position: fixed;
  height: 17.3611111111vw;
  width: 3.6458333333vw;
  top: 13.5416666667vw;
  left: 12.6388888889vw;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  opacity: 0;
  z-index: 20;
  transition: opacity 10s ease-in-out;
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.home-section .floating-nav a {
  text-decoration: none;
  color: white;
  border-radius: 3.4722222222vw;
  width: 3.4722222222vw;
  height: 3.4722222222vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
}
.home-section .floating-nav a i.material-icons {
  font-size: 24px;
  color: #fff;
}

.avatar {
  position: sticky;
  background-color: white;
  left: 42.5vw;
  transform: translateY(-100vw);
  top: -50%;
  width: 17.5vw;
  height: 17.2916666667vw;
  border: 1px solid white;
  z-index: 20;
  border-radius: 50%;
  opacity: 0;
  overflow: hidden;
  transition: transform 2s ease-in-out, opacity 1s ease-in-out;
}
.avatar .blur-load img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.avatar .blur-load.loaded > img {
  opacity: 1;
}
.avatar .blur-load > img {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.avatar .blur-load {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
@keyframes slideInFromRight {
  from {
    left: var(--left); /* Start from the right */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToLeft {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the left */
  }
}
@keyframes slideInFromLeft {
  from {
    left: calc(1 * var(--left)); /* Start from the left */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToRight {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the right */
  }
}
.avatar .curved-section {
  position: absolute;
  width: 100%;
  background-attachment: fixed;
  -webkit-clip-path: url(#visual);
          clip-path: url(#visual); /* Apply the wave shape here */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  border-radius: 50%;
}
.avatar .curved-section[data-direction=next] .blur-load.active {
  animation: slideInFromRight 4s ease;
}
.avatar .curved-section[data-direction=prev] .blur-load.active {
  animation: slideInFromLeft 4s forwards;
}
.avatar .curved-section[data-direction=next] .blur-load.exit {
  animation: slideOutToLeft 4s forwards;
}
.avatar .curved-section[data-direction=prev] .blur-load.exit {
  animation: slideOutToRight 3s forwards;
}
.avatar .curved-section .blur-load {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: var(--left);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whitespace-section {
  margin-top: 14.3055555556vw;
  height: 70vh;
  background-color: black;
}

.skills-section {
  padding-top: 5vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("./imgs/matrix.png");
}
.skills-section .title {
  font-size: 2.7777777778vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 1.3888888889vw auto;
  width: 100%;
}
.skills-section .quote {
  font-size: 1.6666666667vw;
  color: white;
  text-align: center;
  margin: 1.6666666667vw auto;
  width: 100%;
}
.skills-section .card-skill-title {
  padding: 1.6666666667vw 1.1111111111vw;
  height: 7.2222222222vw;
  width: 20vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5555555556vw;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1.3888888889vw;
  background-color: #2EA787;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.skills-section .card-skill-title .img {
  display: inline-block;
  width: 100%;
}
.skills-section .card-skill-title .web-development {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.skills-section .tech-stacks-container {
  margin-top: 2.7777777778vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skills-section .html-card h1 {
  color: #E54F26;
}
.skills-section .css-card h1 {
  color: #0C73B8;
}
.skills-section .js-node-card h1 {
  color: #E7A020;
}
.skills-section .react-card h1 {
  color: #28A9E0;
}
.skills-section .html-container {
  background-color: #E54F26;
}
.skills-section .css-container {
  background-color: #0C73B8;
}
.skills-section .js-node-container {
  background-color: #E7A020;
}
.skills-section .react-container {
  background-color: #28A9E0;
}
.skills-section .tech-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6666666667vw;
}
.skills-section .tech-card .tech-title {
  color: white;
}
.skills-section .tech-card .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.7777777778vw;
  border-radius: 50%;
}

.projects {
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin-top: 21.25vw;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #1A1E23;
  /* Carousel Button Styles (same as before) */
}
.projects .title {
  font-size: 2.7777777778vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 1.3888888889vw auto;
  width: 100%;
}
.projects .quote {
  font-size: 1.6666666667vw;
  color: white;
  text-align: center;
  margin: 1.6666666667vw auto;
  width: 100%;
}
.projects .view-website {
  margin-top: 8.5416666667vw;
  color: #2EA787;
  width: 11.1805555556vw;
  height: 2.2222222222vw;
  margin: auto;
}
.projects .carousel-container {
  margin-top: 4.0277777778vw;
  position: relative;
  width: 43.8194444444vw;
  height: 32.0833333333vw;
  overflow: hidden;
  border-radius: 2.0833333333vw;
  margin: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #000;
}
.projects .carousel-container[data-direction=next] .projects.active {
  animation: slideInFromRight 0.8s forwards;
}
.projects .carousel-container[data-direction=prev] .projects.active {
  animation: slideInFromLeft 0.8s forwards;
}
.projects .carousel-container[data-direction=next] .projects.exit {
  animation: slideOutToLeft 0.8s forwards;
}
.projects .carousel-container[data-direction=prev] .projects.exit {
  animation: slideOutToRight 0.8s forwards;
}
.projects .projects, .projects .news {
  position: absolute;
  top: -75%;
  left: var(--left);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.projects .projects h3, .projects .projects p, .projects .news h3, .projects .news p {
  visibility: hidden;
}
.projects .indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
.projects .indicators .indicator {
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.projects .indicators .active {
  background-color: white;
}
@keyframes slideInFromRight {
  from {
    left: var(--left); /* Start from the right */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToLeft {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the left */
  }
}
@keyframes slideInFromLeft {
  from {
    left: calc(1 * var(--left)); /* Start from the left */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToRight {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the right */
  }
}
.projects .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #292F36;
  border: none;
  width: 5vw;
  height: 5vw;
  color: white;
  font-size: 1.5rem;
  padding: 1.1111111111vw;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .prev {
  left: 2.7777777778vw;
}
.projects .next {
  right: 2.7777777778vw;
}
.projects .carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darken the button on hover */
}/*# sourceMappingURL=style.css.map */