/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*********************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jersey+15&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss (1) ***!
  \*************************************************************************************************************/
:root {
  --left: 0%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cinzel", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: "Cinzel", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  padding: 0.6944444444vh;
  margin: auto;
  width: 100%;
  height: max-content;
  max-width: calc(100% - 120px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 4.1666666667vw;
  z-index: 10;
  transition: background-color 1s ease-in-out, opacity 1s ease, top 1s ease-in-out;
}
header .logo {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
header .logo img {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}
header .logo h1 {
  color: white;
  font-size: 1.67vw;
}
header .hamburger-icon {
  display: none;
}
header .primary-nav {
  display: flex;
  gap: 3.5416666667vw;
  align-items: center;
  text-transform: capitalize;
}
header .primary-nav a {
  text-decoration: none;
  color: white;
  transition: color 1s ease-in-out;
}
header .primary-nav a:hover {
  color: #2EA787;
}
header .toggle-container {
  width: 74px;
  height: 38px;
  background-color: #D9D9D9;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
}
header .toggle-container .toggle {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: #2EA787;
  display: inline-block;
  margin-left: 0;
  transition: margin-left 1s ease;
}
header .toggle-container .toggle.active {
  margin-left: calc(100% - 38px);
}

.home-section.backgroundAnimate {
  animation: animateImg 1s ease-in-out forwards;
}

@keyframes animateImg {
  0% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 1;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(imgs/developer_background.png);
    opacity: 1;
  }
}
.home-section {
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-image: url(imgs/developer.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 46.7361111111vw;
}
.home-section .title, .home-section .description {
  margin-left: 21.7857142857vw;
  color: white;
  width: 44vw;
  z-index: 10;
}
.home-section .title {
  margin-top: 22.5714285714vw;
  font-size: 4.4444444444vw;
  width: 100%;
}
.home-section .title span.animate {
  animation: changeColor 2s ease-in-out 2s;
}
.home-section .title h1.animate {
  animation: changeColor 2s ease-in-out 2s;
}
@keyframes changeColor {
  0% {
    color: white;
    opacity: 1;
    text-shadow: 2px 2px 2px white;
  }
  25% {
    color: orange;
    opacity: 0.75;
    text-shadow: 4px 4px 4px white;
  }
  50% {
    color: yellow;
    opacity: 0.5;
    text-shadow: 2px 2px 2px white;
  }
  75% {
    color: yellowgreen;
    opacity: 0.25;
    text-shadow: 4px 4px 4px white;
  }
  95% {
    color: yellowgreen;
    opacity: 0;
    text-shadow: 4px 4px 4px white;
  }
  100% {
    color: green;
    opacity: 1;
    text-shadow: 4px 4px 4px white;
  }
}
.home-section .cont {
  display: flex;
  margin-top: 1.4285714286vh;
  align-items: end;
  width: auto;
}
.home-section .cont .description {
  font-size: 2.0833333333vw;
}
.home-section .cont .download {
  margin-left: 7.4285714286vw;
  padding: 14px 25px;
  border-radius: 20px;
  border: none;
  background-color: #2EA787;
  color: white;
  transition: background-color 1s ease-in-out, color 1s ease, border 1s ease-in;
}
.home-section .cont .download:hover {
  border: 1px solid #2EA787;
  color: #2EA787;
  background-color: transparent;
  cursor: pointer;
}
.home-section .floating-nav {
  position: fixed;
  height: 17.3611111111vw;
  width: 3.6458333333vw;
  top: 13.5416666667vw;
  left: 3.4722222222vw;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.6944444444vh;
  opacity: 0;
  z-index: 30;
  transition: opacity 10s ease-in-out;
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.home-section .floating-nav a {
  text-decoration: none;
  color: white;
  border-radius: 3.4722222222vw;
  width: 3.4722222222vw;
  height: 3.4722222222vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
}
.home-section .floating-nav a i.material-icons {
  font-size: 24px;
  color: #fff;
}

.avatar {
  position: sticky;
  background-color: white;
  left: 42.5vw;
  transform: translateY(-100vw);
  top: -50%;
  width: 17.5vw;
  height: 17.2916666667vw;
  border: 1px solid white;
  z-index: 20;
  border-radius: 50%;
  opacity: 0;
  overflow: hidden;
  transition: transform 2s ease-in-out, opacity 1s ease-in-out;
}
.avatar .blur-load img {
  width: 100%;
  aspect-ratio: 1/1;
  object-position: center;
  object-fit: cover;
}
.avatar .blur-load.loaded > img {
  opacity: 1;
}
.avatar .blur-load > img {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.avatar .blur-load {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
@keyframes slideInFromRight {
  from {
    left: var(--left); /* Start from the right */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToLeft {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the left */
  }
}
@keyframes slideInFromLeft {
  from {
    left: calc(1 * var(--left)); /* Start from the left */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToRight {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the right */
  }
}
.avatar .curved-section {
  position: absolute;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.avatar .curved-section[data-direction=next] .blur-load.active {
  animation: slideInFromRight 4s ease;
}
.avatar .curved-section[data-direction=prev] .blur-load.active {
  animation: slideInFromLeft 4s forwards;
}
.avatar .curved-section[data-direction=next] .blur-load.exit {
  animation: slideOutToLeft 4s forwards;
}
.avatar .curved-section[data-direction=prev] .blur-load.exit {
  animation: slideOutToRight 3s forwards;
}
.avatar .curved-section .blur-load {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  z-index: 2;
  position: absolute;
  top: 0;
  left: var(--left);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whitespace-section {
  margin-top: 14.3055555556vw;
  height: 70vh;
  background-color: black;
}

.skills-section {
  padding-top: 5vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(imgs/matrix.png);
}
.skills-section .title {
  font-size: 2.7777777778vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 1.3888888889vw auto;
  width: 100%;
}
.skills-section .quote {
  font-size: 1.6666666667vw;
  color: white;
  text-align: center;
  margin: 1.6666666667vw auto;
  width: 100%;
}
.skills-section .card-skill-title {
  padding: 1.6666666667vw 1.1111111111vw;
  height: 7.2222222222vw;
  width: 20vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5555555556vw;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1.3888888889vw;
  background-color: #2EA787;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.skills-section .card-skill-title .img {
  display: inline-block;
  width: 100%;
}
.skills-section .card-skill-title .web-development {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.skills-section .tech-stacks-container {
  margin-top: 2.7777777778vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skills-section .html-card h1 {
  color: #E54F26;
}
.skills-section .css-card h1 {
  color: #0C73B8;
}
.skills-section .js-node-card h1 {
  color: #E7A020;
}
.skills-section .react-card h1 {
  color: #28A9E0;
}
.skills-section .html-container {
  background-color: #E54F26;
}
.skills-section .css-container {
  background-color: #0C73B8;
}
.skills-section .js-node-container {
  background-color: #E7A020;
}
.skills-section .react-container {
  background-color: #28A9E0;
}
.skills-section .tech-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6666666667vw;
}
.skills-section .tech-card .tech-title {
  color: white;
}
.skills-section .tech-card .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.7777777778vw;
  border-radius: 50%;
}

.projects {
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin-top: 7.3611111111vw;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #1A1E23;
  /* Carousel Button Styles (same as before) */
}
.projects .title {
  font-size: 2.7777777778vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 1.3888888889vw auto;
  width: 100%;
}
.projects .quote {
  font-size: 1.6666666667vw;
  color: white;
  text-align: center;
  margin: 1.6666666667vw auto;
  width: 100%;
}
.projects .view-website {
  margin: auto;
  display: block;
  margin-top: 1.5972222222vw;
  color: #2EA787;
  width: 100%;
  height: 2.2222222222vw;
}
.projects .carousel-container {
  margin-top: 4.0277777778vw;
  position: relative;
  width: 43.8194444444vw;
  height: 32.0833333333vw;
  overflow: hidden;
  border-radius: 2.0833333333vw;
  margin: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #000;
}
.projects .carousel-container[data-direction=next] .projects.active {
  animation: slideInFromRight 0.8s forwards;
}
.projects .carousel-container[data-direction=prev] .projects.active {
  animation: slideInFromLeft 0.8s forwards;
}
.projects .carousel-container[data-direction=next] .projects.exit {
  animation: slideOutToLeft 0.8s forwards;
}
.projects .carousel-container[data-direction=prev] .projects.exit {
  animation: slideOutToRight 0.8s forwards;
}
.projects .projects, .projects .news {
  position: absolute;
  top: -30%;
  left: var(--left);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.projects .projects h3, .projects .projects p, .projects .news h3, .projects .news p {
  visibility: hidden;
}
.projects .indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
.projects .indicators .indicator {
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.projects .indicators .active {
  background-color: white;
}
@keyframes slideInFromRight {
  from {
    left: var(--left); /* Start from the right */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToLeft {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the left */
  }
}
@keyframes slideInFromLeft {
  from {
    left: calc(1 * var(--left)); /* Start from the left */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToRight {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the right */
  }
}
.projects .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #292F36;
  border: none;
  width: 5vw;
  height: 5vw;
  color: white;
  font-size: 1.5rem;
  padding: 1.1111111111vw;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .prev {
  left: 2.7777777778vw;
}
.projects .next {
  right: 2.7777777778vw;
}
.projects .carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darken the button on hover */
}

.about-section {
  margin-top: 21.25vw;
  min-height: 100vh;
  background-image: url(imgs/About.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 9.2361111111vw;
}
.about-section .about-container {
  width: 100%;
  height: 51.3888888889vw;
  gap: 6.9444444444vw;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.about-section .about-container .about-description-container {
  width: 100%;
  height: 51.3888888889vw;
}
.about-section .about-container .about-description-container .aboutUsBtn {
  width: 32.2222222222vw;
  height: 12.2222222222vw;
  border: 0.2777777778vw solid #2EA787;
  border-top-left-radius: 3.4722222222vw;
  border-bottom-right-radius: 3.4722222222vw;
  font-size: 3.3333333333vw;
  background-color: transparent;
  color: #2EA787;
  margin-bottom: 3.3333333333vw;
}
.about-section .about-container .about-description-container .description {
  font-family: "Raleway", sans-serif !important;
  height: 35.8333333333vw;
  width: 57.5694444444vw;
  background-color: #292F36;
  border-radius: 3.4722222222vw;
  padding: 0.5555555556vw;
}
.about-section .about-container .about-description-container .description h1 {
  font-size: 2.5vw;
  line-height: 2.2222222222vw;
  width: auto;
  margin-right: 1.8055555556vw;
  margin-left: 1.8055555556vw;
  margin-top: 1.25vw;
  margin-bottom: -0.2777777778vw;
  padding: 0.5555555556vw;
  color: #2EA787;
}
.about-section .about-container .about-description-container .description p {
  margin: 0.5555555556vw 1.8055555556vw;
  font-size: 1.3888888889vw;
  line-height: 2.2222222222vw;
  color: white;
  padding: 0.5555555556vw;
}
.about-section .about-container .about-image-container {
  border-top: 0.6944444444vw solid white;
  border-bottom: 0.6944444444vw solid white;
  border-right: 0.6944444444vw solid #2EA787;
  border-left: 0.6944444444vw solid #2EA787;
  border-radius: 50%;
  padding: 0.2777777778vw;
  min-height: 17.2916666667vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s ease-in-out infinite;
  position: relative;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-section .about-container .about-image-container .about-image {
  margin: auto;
  width: 90%;
  height: 90%;
  min-width: 17.5vw;
  min-height: 17.2916666667vw;
  background-image: url(imgs/Me.jpg);
  filter: brightness(100%);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-top: 0.6944444444vw solid #2EA787;
  border-bottom: 0.6944444444vw solid #2EA787;
  border-right: 0.6944444444vw solid white;
  border-left: 0.6944444444vw solid white;
  border-radius: 50%;
  animation: spin 2s ease-in-out alternate-reverse infinite;
}

.contact-section {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #292F36;
  min-height: 120vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 21.25vw;
  padding: auto 21.25vw;
  padding-bottom: 5vw;
}
.contact-section .contactBtn {
  margin: auto;
  margin-top: 5.9722222222vw;
  width: 32.2222222222vw;
  height: 12.2222222222vw;
  border: none;
  font-size: 3.3333333333vw;
  background-color: transparent;
  color: #2EA787;
  margin-bottom: 1.5972222222vw;
}
.contact-section .title {
  color: white;
  font-size: 1.6666666667vw;
  margin: 1.5972222222vw auto;
  margin-top: -1.3888888889vw;
}
.contact-section .messageBtn {
  margin: 1.5972222222vw auto;
  width: 50%;
  padding: auto 0.5555555556vw;
  height: 12.2222222222vw;
  border: 0.2777777778vw solid #2EA787;
  border-top-left-radius: 3.4722222222vw;
  border-bottom-right-radius: 3.4722222222vw;
  font-size: 3.3333333333vw;
  background-color: transparent;
  color: #2EA787;
}
.contact-section form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.6388888889vw;
  justify-content: space-between;
  margin: auto;
  margin-top: 1.9444444444vw;
  padding: auto;
}
.contact-section form .input-container {
  display: flex;
  flex-direction: column;
  gap: 2.6388888889vw;
  justify-content: flex-end;
  align-items: flex-start;
  width: 40%;
}
.contact-section form .input-container label {
  color: #2EA787;
  margin: auto 2.9861111111vw;
  display: inline-block;
}
.contact-section form .input-container input {
  border: none;
  width: 100%;
  margin: auto 2.9861111111vw;
  border-bottom: 4px solid #2EA787;
  background-color: transparent;
  color: #2EA787;
  display: inline-block;
}
.contact-section form .input-container input:focus {
  color: #2EA787;
  outline: none;
  background-color: transparent;
}
.contact-section form .messgage-container {
  margin-top: 2.9861111111vw;
  min-width: 1700px;
}
.contact-section form .messgage-container input {
  width: 1700px;
}
.contact-section form .sendBtn {
  position: relative;
  font-size: 1.6666666667vw;
  line-height: 2.2222222222vw;
  padding: 1.3888888889vw 1.3888888889vw;
  background-color: #2EA787;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6944444444vw;
  margin: auto 34%;
  border-radius: 3.4722222222vw;
  transition: border 1s ease-in, color 1s ease-in, background-color 1s ease-in-out;
}
.contact-section form .sendBtn:hover {
  cursor: pointer;
  border: 2px solid #2EA787;
  background-color: transparent;
  color: #2EA787;
}
.contact-section form .sendBtn .spinner_container {
  z-index: 10;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  place-content: center;
  display: none;
}
.contact-section form .sendBtn .spinner {
  border: 0.6944444444vw solid white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4722222222vw;
  height: 3.4722222222vw;
  border-radius: 50%;
  border-top: 0.6944444444vw solid #2EA787;
  border-bottom: 0.6944444444vw solid #2EA787;
  animation: spin 2s linear infinite;
}
.contact-section form .sendBtn.ignore {
  animation: ignore 5s ease-in-out alternate-reverse infinitr;
}
@keyframes ignore {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-70px);
  }
  50% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}

.stack_images_container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 6.9444444444vw;
  width: 100%;
  height: 10.4166666667vw;
  background-color: white;
}

.stack_images_container nav {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  height: 10.4166666667vw;
  flex-shrink: 0;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: white;
  animation: slide 4s linear infinite;
}

.stack_images_container nav img {
  display: inline-block;
  width: 10.4166666667vw;
  height: 3.4722222222vw;
  flex-basis: 1;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.partners_images_container .partners_images_1 {
  animation-delay: 0s;
}

.partners_images_container .partners_images_2 {
  animation-delay: 0s;
}

footer {
  height: 3.75vw;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8.8888888889vw auto;
}
footer p {
  font-size: 1.1111111111vw;
  line-height: 1.25vw;
  margin: auto 2.7777777778vw;
  color: white;
  width: max-content;
}
footer .github_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2EA787;
  border-radius: 50%;
  border: 1px solid white;
}
footer .github_link img {
  width: 2.0833333333vw;
  height: 2.0833333333vw;
}

/*
TOASTER IMPLEMENTATION
*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  gap: 1rem;
  height: 200px;
  font-size: 1.5vw;
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 500px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 50; /* Add a z-index if needed */
  left: calc(50% - 250px); /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.loader-container .loader {
  top: 50%;
  left: 50%;
  border: 0.3vw solid white;
  border-top: 0.3vw solid green;
  border-bottom: 0.3vw solid green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s ease-in-out infinite;
}

@media only screen and (max-width: 400px) {
  header {
    background-color: #2EA787;
    width: 100%;
    max-width: 84.5333333333vw;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    z-index: 50;
    position: fixed;
    border-radius: 5.3333333333vw;
    left: 8vw;
    margin-top: 0vw;
    padding: auto 8vw !important;
  }
  header .logo h1 {
    display: none;
    font-size: 5.3333333333vw;
  }
  header .primary-nav, header .toggle-container {
    display: none;
  }
  header .hamburger-icon {
    cursor: pointer;
    display: flex;
    z-index: 1;
    /* The Overlay (background) */
    /* Position the content inside the overlay */
    /* The navigation links inside the overlay */
    /* When you mouse over the navigation links, change their color */
    /* Position the close button (top right corner) */
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  }
  header .hamburger-icon img {
    width: 10.6666666667vw;
    height: 10.6666666667vw;
  }
  header .hamburger-icon .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  header .hamburger-icon .overlay-content {
    position: relative;
    font-size: 6.4vw;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  header .hamburger-icon .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  header .hamburger-icon .overlay a:hover, header .hamburger-icon .overlay a:focus {
    color: #f1f1f1;
  }
  header .hamburger-icon .overlay .closebtn {
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 60px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 400px) and (max-height: 450px) {
  header .hamburger-icon .overlay a {
    font-size: 20px;
  }
  header .hamburger-icon .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media only screen and (max-width: 400px) {
  .home-section {
    padding: 8vw;
    min-height: 100%;
  }
  .home-section .floating-nav {
    display: none;
    position: fixed;
    z-index: 50;
  }
  .home-section .title {
    text-align: center;
    height: 41.0666666667vw;
    margin-top: 56.5333333333vw;
    margin-left: 0vw;
    font-size: 9.6vw;
    margin-bottom: 6.4vw;
  }
  .home-section .cont {
    flex-direction: column;
    margin-left: 0vw;
    align-items: start;
    gap: 6.4vw;
  }
  .home-section .cont .description {
    text-align: center;
    width: 100%;
    margin-left: 0vw;
    font-size: 5.3333333333vw;
  }
  .home-section .cont .download {
    margin: auto;
    padding: 2.4vw 8.5333333333vw;
    margin-bottom: 3.2vw;
  }
  .whitespace-section {
    margin-top: 54.9333333333vw;
    height: 80vh;
    background-color: black;
  }
  .skills-section {
    min-height: 100%;
    padding: 8vw;
    min-height: 100%;
  }
  .skills-section .title {
    font-size: 8.5333333333vw;
    margin-bottom: 6.4vw;
  }
  .skills-section .quote {
    font-size: 4.2666666667vw;
    margin-bottom: 6.4vw;
  }
  .skills-section .card-skill-title {
    width: 84vw;
    margin-bottom: 6.4vw;
    height: max-content;
  }
  .skills-section .tech-stacks-container {
    flex-wrap: wrap;
    gap: 6.4vw;
  }
  .stack_images_container {
    height: 13.3333333333vw;
    padding: 2.1333333333vw auto;
  }
  .stack_images_container nav {
    height: 13.3333333333vw;
    gap: 2.1333333333vw;
  }
  .stack_images_container nav img {
    padding: 2.1333333333vw auto;
    width: 26.6666666667vw;
    height: 5.3333333333vw;
  }
  .projects .title {
    font-size: 8.5333333333vw;
    margin-bottom: 6.4vw;
  }
  .projects .quote {
    width: 80%;
    font-size: 4.2666666667vw;
    margin-bottom: 12.8vw;
  }
  .projects .view-website {
    font-size: 4.2666666667vw;
    margin-bottom: 6.4vw;
  }
  .projects .carousel-container {
    margin-top: 6.4vw;
    width: 84vw;
    height: 84vw;
  }
  .projects .carousel-container .news {
    top: -20%;
  }
  .projects .carousel-btn {
    width: 12.8vw;
    height: 12.8vw;
    padding: 4.2666666667vw;
  }
  .comments {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 6.4vw;
  }
  .comments h1 {
    margin: 6.4vw auto;
  }
  .comments p {
    width: 80%;
    margin-top: 6.4vw;
  }
  .about-section .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-section .about-container .about-description-container {
    height: 100%;
  }
  .about-section .about-container .about-description-container .aboutUsBtn {
    width: 100%;
    font-size: 8.5333333333vw;
  }
  .about-section .about-container .about-description-container .description {
    overflow: scroll;
    min-height: 94.6666666667vw;
    width: 100%;
    background-color: #292F36;
    border-radius: 3.4722222222vw;
    padding: 2.1333333333vw;
  }
  .about-section .about-container .about-description-container .description h1 {
    font-size: 6.4vw;
    line-height: 8.5333333333vw;
    width: auto;
    padding: 1.6842105263vw;
  }
  .about-section .about-container .about-description-container .description p {
    font-size: 4.2666666667vw;
    line-height: 6.4vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .about-section .about-container .about-image-container {
    margin-top: 53.3333333333vw;
    border-top: 2.6666666667vw solid white;
    border-bottom: 2.6666666667vw solid white;
    border-right: 2.6666666667vw solid #2EA787;
    border-left: 2.6666666667vw solid #2EA787;
    min-height: 47.7333333333vw;
  }
  .about-section .about-container .about-image-container .about-image {
    margin: auto;
    width: 90%;
    height: 90%;
    min-width: 42.4vw;
    min-height: 42.4vw;
    border-top: 2.6666666667vw solid #2EA787;
    border-bottom: 2.6666666667vw solid #2EA787;
    border-right: 2.6666666667vw solid white;
    border-left: 2.6666666667vw solid white;
    border-radius: 50%;
  }
  .contact-section {
    min-height: 100vh;
  }
  .contact-section .contactBtn {
    width: 100%;
    font-size: 8.5333333333vw;
    margin-bottom: 6.4vw;
  }
  .contact-section .messageBtn {
    width: 70%;
    font-size: 6.4vw;
    margin-bottom: 6.4vw;
  }
  .contact-section .title {
    width: 80%;
    text-align: center;
    font-size: 4.2666666667vw;
    margin-bottom: 12.8vw;
  }
  .contact-section form {
    flex-direction: column;
  }
  .contact-section form .input-container {
    width: 100%;
  }
  .contact-section form .sendBtn {
    width: 100%;
    font-size: 6.4vw;
    margin: 6.4vw auto;
    padding: 2.1333333333vw;
  }
  .contact-section form .sendBtn .spinner_container {
    height: 100%;
    width: 100%;
  }
  .contact-section form .sendBtn .spinner_container .spinner {
    width: 8vw;
    height: 8vw;
  }
  #snackbar {
    font-size: 5.3333333333vw;
  }
  footer {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 3.2vw;
    padding: 60.8vw auto;
  }
  footer p {
    font-size: 3.2vw;
    line-height: 4.8vw;
    margin: auto 10.6666666667vw;
    color: white;
    width: max-content;
  }
  footer a {
    text-decoration: none;
    margin-left: 3.2vw;
    color: #2EA787;
  }
  footer .github_link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10.6666666667vw;
    width: auto;
    background-color: #2EA787;
    border-radius: 50%;
    border: 1px solid white;
  }
  footer .github_link img {
    width: 8vw;
    height: 6.9565217391vw;
  }
}
@media only screen and (min-width: 401px) and (max-width: 786px) {
  header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    z-index: 50;
    border-radius: 5.3333333333vw;
    left: 8vw;
    margin-top: 0vw;
    padding: auto calc(30px + 0.8368113523vw);
  }
  header .primary-nav, header .toggle-container {
    display: none;
  }
  header .hamburger-icon {
    cursor: pointer;
    display: flex;
    z-index: 1;
  }
}
@media only screen and (min-width: 786px) and (max-width: 1189px) {
  header .primary-nav, header .toggle-container {
    display: flex;
  }
  header .hamburger-icon {
    cursor: pointer;
    display: none;
    z-index: 1;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1198px) {
  header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    z-index: 50;
    border-radius: 5.3333333333vw;
    left: 8vw;
    margin-top: 0vw;
    padding: auto calc(30px + 0.8368113523vw);
  }
  header .logo h1 {
    display: none;
    font-size: 5.3333333333vw;
  }
  header .hamburger-icon {
    cursor: pointer;
    z-index: 1;
    /* The Overlay (background) */
    /* Position the content inside the overlay */
    /* The navigation links inside the overlay */
    /* When you mouse over the navigation links, change their color */
    /* Position the close button (top right corner) */
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  }
  header .hamburger-icon img {
    width: 40px;
    height: 40px;
  }
  header .hamburger-icon .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  header .hamburger-icon .overlay-content {
    position: relative;
    font-size: 24px;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  header .hamburger-icon .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  header .hamburger-icon .overlay a:hover, header .hamburger-icon .overlay a:focus {
    color: #f1f1f1;
  }
  header .hamburger-icon .overlay .closebtn {
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 60px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1198px) and (max-height: 450px) {
  header .hamburger-icon .overlay a {
    font-size: 20px;
  }
  header .hamburger-icon .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 1198px) {
  .avatar {
    top: 20%;
  }
  .home-section {
    padding: calc(30px + 1.840984975vw);
    min-height: 100%;
  }
  .home-section .floating-nav {
    display: none;
  }
  .home-section .title {
    text-align: left;
    height: calc(154px + 0.5020868114vw);
    margin-top: calc(212px + 1.840984975vw);
    margin-left: calc(30px + 1.840984975vw);
    font-size: calc(36px + 1.840984975vw);
    margin-bottom: calc(24px + 1.840984975vw);
  }
  .home-section .cont {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: calc(30px + 1.840984975vw);
    align-items: center;
  }
  .home-section .cont .description {
    text-align: left;
    width: 70%;
    margin-left: 0vw;
    font-size: calc(20px + 0.5020868114vw);
  }
  .home-section .cont .download {
    margin: auto;
    margin-top: calc(24px + 1.840984975vw);
    padding: calc(9px + 0.8368113523vw) 32px;
    margin-bottom: calc(12px + 1.840984975vw);
  }
  .whitespace-section {
    margin-top: calc(206px + 1.840984975vw);
    height: 80vh;
    background-color: black;
  }
  .skills-section {
    min-height: max-content;
    padding: calc(30px + 1.840984975vw);
  }
  .skills-section .title {
    font-size: calc(32px + 0.8368113523vw);
    margin-bottom: calc(24px + 1.840984975vw);
  }
  .skills-section .quote {
    font-size: calc(16px + 0.8368113523vw);
    margin-bottom: calc(24px + 1.840984975vw);
  }
  .skills-section .card-skill-title {
    margin: auto;
    font-size: calc(16px + 0.8368113523vw);
    width: 80%;
    margin-bottom: calc(24px + 1.840984975vw);
    height: max-content;
  }
  .skills-section .tech-stacks-container {
    flex-wrap: wrap;
    gap: calc(24px + 1.840984975vw);
  }
  .stack_images_container {
    height: 13.3333333333vw;
    padding: 2.1333333333vw auto;
  }
  .stack_images_container nav {
    height: 13.3333333333vw;
    gap: 2.1333333333vw;
  }
  .stack_images_container nav img {
    padding: 2.1333333333vw auto;
    width: 26.6666666667vw;
    height: 5.3333333333vw;
  }
  .projects .title {
    font-size: calc(32px + 0.8368113523vw);
    margin-bottom: calc(24px + 1.840984975vw);
  }
  .projects .quote {
    width: 80%;
    font-size: calc(16px + 0.8368113523vw);
    margin-bottom: calc(48px + 1.840984975vw);
  }
  .projects .view-website {
    font-size: calc(16px + 0.8368113523vw);
    margin-bottom: calc(24px + 1.840984975vw);
  }
  .projects .carousel-container {
    margin-top: calc(24px + 1.840984975vw);
    width: calc(315px + 8.3681135225vw);
    height: calc(315px + 8.3681135225vw);
  }
  .projects .carousel-container .news {
    top: -30%;
  }
  .projects .carousel-btn {
    width: 48px;
    height: 48px;
    padding: 16px;
  }
  .comments {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: calc(24px + 0.8368113523vw);
  }
  .comments h1 {
    margin: calc(24px + 1.840984975vw) auto;
  }
  .comments p {
    width: 80%;
    margin-top: calc(24px + 1.840984975vw);
  }
  .about-section .about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(4px + 1.840984975vw);
  }
  .about-section .about-container .about-description-container {
    max-width: 70%;
    min-width: 315px;
    min-height: 470px;
  }
  .about-section .about-container .about-description-container .aboutUsBtn {
    width: 100%;
    font-size: calc(32px + 0.8368113523vw);
  }
  .about-section .about-container .about-description-container .description {
    overflow: scroll;
    min-height: calc(336px + 0.8368113523vw);
    width: 100%;
    background-color: #292F36;
    border-radius: 3.4722222222vw;
    padding: 2.1333333333vw;
  }
  .about-section .about-container .about-description-container .description h1 {
    font-size: calc(24px + 0.8368113523vw);
    line-height: calc(32px + 0.8368113523vw);
    width: auto;
    padding: 2.1333333333vw auto;
  }
  .about-section .about-container .about-description-container .description p {
    font-size: calc(16px + 0.5020868114vw);
    line-height: calc(24px + 0.5020868114vw);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .about-section .about-container .about-image-container {
    margin: auto;
    border-top: calc(10px + 0.5020868114vw) solid white;
    border-bottom: calc(10px + 0.5020868114vw) solid white;
    border-right: calc(10px + 0.5020868114vw) solid #2EA787;
    border-left: calc(10px + 0.5020868114vw) solid #2EA787;
    height: 139;
  }
  .about-section .about-container .about-image-container .about-image {
    width: calc(119px + 0.5020868114vw);
    height: calc(119px + 0.5020868114vw);
    border-top: calc(10px + 0.5020868114vw) solid #2EA787;
    border-bottom: calc(10px + 0.5020868114vw) solid #2EA787;
    border-right: calc(10px + 0.5020868114vw) solid white;
    border-left: calc(10px + 0.5020868114vw) solid white;
    border-radius: 50%;
  }
  .contact-section {
    background-color: #292F36;
    min-height: max-content;
  }
  .contact-section .contactBtn {
    width: 100%;
    font-size: 32px;
    margin-bottom: 24px;
  }
  .contact-section .messageBtn {
    width: 70%;
    font-size: 24px;
    margin-bottom: 24px;
  }
  .contact-section .title {
    width: 80%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
  }
  .contact-section form {
    flex-direction: column;
  }
  .contact-section form .input-container {
    width: 100%;
  }
  .contact-section form .sendBtn {
    width: max-content;
    font-size: 24px;
    margin: 24px auto;
    padding: 2.1333333333vw;
  }
  .contact-section form .sendBtn .spinner_container {
    height: 100%;
    width: 100%;
  }
  .contact-section form .sendBtn .spinner_container .spinner {
    width: 8vw;
    height: 8vw;
  }
  footer {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 12px;
    padding: 228px auto;
  }
  footer p {
    font-size: 12px;
    line-height: 18px;
    margin: auto 40px;
    color: white;
    width: max-content;
  }
  footer a {
    text-decoration: none;
    margin-left: 12px;
    color: #2EA787;
  }
  footer .github_link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 40px;
    width: auto;
    background-color: #2EA787;
    border-radius: 50%;
    border: 1px solid white;
  }
  footer .github_link img {
    width: 30px;
    height: 40px;
  }
}
