@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jersey+15&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --left: 0%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cinzel", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #292F36;
  display: flex;
  flex-direction: column;
  font-family: "Cinzel", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  padding: 0.6944444444vh;
  margin: auto;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  max-width: calc(100% - 120px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 4.1666666667vw;
  z-index: 10;
  transition: background-color 1s ease-in-out, opacity 1s ease, top 1s ease-in-out;
}
header .logo {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
header .logo img {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}
header .logo h1 {
  color: white;
  font-size: 1.67vw;
}
header .primary-nav {
  display: flex;
  gap: 3.5416666667vw;
  align-items: center;
  text-transform: capitalize;
}
header .primary-nav a {
  text-decoration: none;
  color: white;
  transition: color 1s ease-in-out;
}
header .primary-nav a:hover {
  color: #2EA787;
}
header .toggle-container {
  width: 74px;
  height: 38px;
  background-color: #D9D9D9;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
}
header .toggle-container .toggle {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: #2EA787;
  display: inline-block;
  margin-left: 0;
  transition: margin-left 1s ease;
}
header .toggle-container .toggle.active {
  margin-left: calc(100% - 38px);
}

.home-section {
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-image: url("./imgs/developer.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 46.7361111111vw;
}
.home-section .title, .home-section .description {
  margin-left: 21.7857142857vw;
  color: white;
  width: 44vw;
  z-index: 10;
}
.home-section .title {
  margin-top: 22.5714285714vw;
  font-size: 4.4444444444vw;
  width: 100vw;
}
.home-section .title span.animate {
  animation: changeColor 2s ease-in-out 2s;
}
.home-section .title h1.animate {
  animation: changeColor 2s ease-in-out 2s;
}
@keyframes changeColor {
  0% {
    color: white;
    opacity: 1;
    text-shadow: 2px 2px 2px white;
  }
  25% {
    color: orange;
    opacity: 0.75;
    text-shadow: 4px 4px 4px white;
  }
  50% {
    color: yellow;
    opacity: 0.5;
    text-shadow: 2px 2px 2px white;
  }
  75% {
    color: yellowgreen;
    opacity: 0.25;
    text-shadow: 4px 4px 4px white;
  }
  95% {
    color: yellowgreen;
    opacity: 0;
    text-shadow: 4px 4px 4px white;
  }
  100% {
    color: green;
    opacity: 1;
    text-shadow: 4px 4px 4px white;
  }
}
.home-section .cont {
  display: flex;
  margin-top: 1.4285714286vh;
  align-items: end;
  width: auto;
}
.home-section .cont .description {
  font-size: 2.0833333333vw;
}
.home-section .cont .download {
  margin-left: 7.4285714286vw;
  padding: 14px 25px;
  border-radius: 20px;
  border: none;
  background-color: #2EA787;
  color: white;
  transition: background-color 1s ease-in-out, color 1s ease, border 1s ease-in;
}
.home-section .cont .download:hover {
  border: 1px solid #2EA787;
  color: #2EA787;
  background-color: transparent;
  cursor: pointer;
}
.home-section .floating-nav {
  position: fixed;
  height: 17.3611111111vw;
  width: 3.6458333333vw;
  top: 13.5416666667vw;
  left: 3.4722222222vw;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.6944444444vh;
  opacity: 0;
  z-index: 30;
  transition: opacity 10s ease-in-out;
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.home-section .floating-nav a {
  text-decoration: none;
  color: white;
  border-radius: 3.4722222222vw;
  width: 3.4722222222vw;
  height: 3.4722222222vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
}
.home-section .floating-nav a i.material-icons {
  font-size: 24px;
  color: #fff;
}

.avatar {
  position: sticky;
  background-color: white;
  left: 42.5vw;
  transform: translateY(-100vw);
  top: -50%;
  width: 17.5vw;
  height: 17.2916666667vw;
  border: 1px solid white;
  z-index: 20;
  border-radius: 50%;
  opacity: 0;
  overflow: hidden;
  transition: transform 2s ease-in-out, opacity 1s ease-in-out;
}
.avatar .blur-load img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.avatar .blur-load.loaded > img {
  opacity: 1;
}
.avatar .blur-load > img {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.avatar .blur-load {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
@keyframes slideInFromRight {
  from {
    left: var(--left); /* Start from the right */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToLeft {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the left */
  }
}
@keyframes slideInFromLeft {
  from {
    left: calc(1 * var(--left)); /* Start from the left */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToRight {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the right */
  }
}
.avatar .curved-section {
  position: absolute;
  width: 100%;
  background-attachment: fixed;
  -webkit-clip-path: url(#visual);
          clip-path: url(#visual); /* Apply the wave shape here */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  border-radius: 50%;
}
.avatar .curved-section[data-direction=next] .blur-load.active {
  animation: slideInFromRight 4s ease;
}
.avatar .curved-section[data-direction=prev] .blur-load.active {
  animation: slideInFromLeft 4s forwards;
}
.avatar .curved-section[data-direction=next] .blur-load.exit {
  animation: slideOutToLeft 4s forwards;
}
.avatar .curved-section[data-direction=prev] .blur-load.exit {
  animation: slideOutToRight 3s forwards;
}
.avatar .curved-section .blur-load {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: var(--left);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whitespace-section {
  margin-top: 14.3055555556vw;
  height: 70vh;
  background-color: black;
}

.skills-section {
  padding-top: 5vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("./imgs/matrix.png");
}
.skills-section .title {
  font-size: 2.7777777778vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 1.3888888889vw auto;
  width: 100%;
}
.skills-section .quote {
  font-size: 1.6666666667vw;
  color: white;
  text-align: center;
  margin: 1.6666666667vw auto;
  width: 100%;
}
.skills-section .card-skill-title {
  padding: 1.6666666667vw 1.1111111111vw;
  height: 7.2222222222vw;
  width: 20vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5555555556vw;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1.3888888889vw;
  background-color: #2EA787;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.skills-section .card-skill-title .img {
  display: inline-block;
  width: 100%;
}
.skills-section .card-skill-title .web-development {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.skills-section .tech-stacks-container {
  margin-top: 2.7777777778vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skills-section .html-card h1 {
  color: #E54F26;
}
.skills-section .css-card h1 {
  color: #0C73B8;
}
.skills-section .js-node-card h1 {
  color: #E7A020;
}
.skills-section .react-card h1 {
  color: #28A9E0;
}
.skills-section .html-container {
  background-color: #E54F26;
}
.skills-section .css-container {
  background-color: #0C73B8;
}
.skills-section .js-node-container {
  background-color: #E7A020;
}
.skills-section .react-container {
  background-color: #28A9E0;
}
.skills-section .tech-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6666666667vw;
}
.skills-section .tech-card .tech-title {
  color: white;
}
.skills-section .tech-card .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.7777777778vw;
  border-radius: 50%;
}

.projects {
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin-top: 7.3611111111vw;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #1A1E23;
  /* Carousel Button Styles (same as before) */
}
.projects .title {
  font-size: 2.7777777778vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 1.3888888889vw auto;
  width: 100%;
}
.projects .quote {
  font-size: 1.6666666667vw;
  color: white;
  text-align: center;
  margin: 1.6666666667vw auto;
  width: 100%;
}
.projects .view-website {
  margin: auto;
  display: block;
  margin-top: 1.5972222222vw;
  color: #2EA787;
  width: 100%;
  height: 2.2222222222vw;
}
.projects .carousel-container {
  margin-top: 4.0277777778vw;
  position: relative;
  width: 43.8194444444vw;
  height: 32.0833333333vw;
  overflow: hidden;
  border-radius: 2.0833333333vw;
  margin: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #000;
}
.projects .carousel-container[data-direction=next] .projects.active {
  animation: slideInFromRight 0.8s forwards;
}
.projects .carousel-container[data-direction=prev] .projects.active {
  animation: slideInFromLeft 0.8s forwards;
}
.projects .carousel-container[data-direction=next] .projects.exit {
  animation: slideOutToLeft 0.8s forwards;
}
.projects .carousel-container[data-direction=prev] .projects.exit {
  animation: slideOutToRight 0.8s forwards;
}
.projects .projects, .projects .news {
  position: absolute;
  top: -30%;
  left: var(--left);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.projects .projects h3, .projects .projects p, .projects .news h3, .projects .news p {
  visibility: hidden;
}
.projects .indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
.projects .indicators .indicator {
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.projects .indicators .active {
  background-color: white;
}
@keyframes slideInFromRight {
  from {
    left: var(--left); /* Start from the right */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToLeft {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the left */
  }
}
@keyframes slideInFromLeft {
  from {
    left: calc(1 * var(--left)); /* Start from the left */
  }
  to {
    left: 0%; /* Move to center */
  }
}
@keyframes slideOutToRight {
  from {
    left: 0%; /* Start from center */
  }
  to {
    left: calc(-1 * var(--left)); /* Slide out to the right */
  }
}
.projects .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #292F36;
  border: none;
  width: 5vw;
  height: 5vw;
  color: white;
  font-size: 1.5rem;
  padding: 1.1111111111vw;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .prev {
  left: 2.7777777778vw;
}
.projects .next {
  right: 2.7777777778vw;
}
.projects .carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darken the button on hover */
}

.about-section {
  margin-top: 21.25vw;
  min-height: 100vh;
  background-image: url("./imgs/About.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 9.2361111111vw;
}
.about-section .about-container {
  width: 100%;
  height: 51.3888888889vw;
  gap: 6.9444444444vw;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.about-section .about-container .about-description-container {
  width: 100%;
  height: 51.3888888889vw;
}
.about-section .about-container .about-description-container .aboutUsBtn {
  width: 32.2222222222vw;
  height: 12.2222222222vw;
  border: 0.2777777778vw solid #2EA787;
  border-top-left-radius: 3.4722222222vw;
  border-bottom-right-radius: 3.4722222222vw;
  font-size: 3.3333333333vw;
  background-color: transparent;
  color: #2EA787;
  margin-bottom: 3.3333333333vw;
}
.about-section .about-container .about-description-container .description {
  font-family: "Raleway", sans-serif !important;
  height: 35.8333333333vw;
  width: 57.5694444444vw;
  background-color: #292F36;
  border-radius: 3.4722222222vw;
  padding: 0.5555555556vw;
}
.about-section .about-container .about-description-container .description h1 {
  font-size: 2.5vw;
  line-height: 2.2222222222vw;
  width: auto;
  margin-right: 1.8055555556vw;
  margin-left: 1.8055555556vw;
  margin-top: 1.25vw;
  margin-bottom: -0.2777777778vw;
  padding: 0.5555555556vw;
  color: #2EA787;
}
.about-section .about-container .about-description-container .description p {
  margin: 0.5555555556vw 1.8055555556vw;
  font-size: 1.3888888889vw;
  line-height: 2.2222222222vw;
  color: white;
  padding: 0.5555555556vw;
}
.about-section .about-container .about-image-container {
  border-top: 0.6944444444vw solid white;
  border-bottom: 0.6944444444vw solid white;
  border-right: 0.6944444444vw solid #2EA787;
  border-left: 0.6944444444vw solid #2EA787;
  border-radius: 50%;
  padding: 0.2777777778vw;
  min-height: 17.2916666667vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s ease-in-out infinite;
  position: relative;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-section .about-container .about-image-container .about-image {
  margin: auto;
  width: 90%;
  height: 90%;
  min-width: 17.5vw;
  min-height: 17.2916666667vw;
  background-image: url("./imgs/Me.jpg");
  filter: brightness(100%);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-top: 0.6944444444vw solid #2EA787;
  border-bottom: 0.6944444444vw solid #2EA787;
  border-right: 0.6944444444vw solid white;
  border-left: 0.6944444444vw solid white;
  border-radius: 50%;
  animation: spin 2s ease-in-out alternate-reverse infinite;
}

.contact-section {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  min-height: 150vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 21.25vw;
  padding: auto 21.25vw;
}
.contact-section .contactBtn {
  margin: auto;
  margin-top: 5.9722222222vw;
  width: 32.2222222222vw;
  height: 12.2222222222vw;
  border: none;
  font-size: 3.3333333333vw;
  background-color: transparent;
  color: #2EA787;
  margin-bottom: 1.5972222222vw;
}
.contact-section .title {
  color: white;
  font-size: 1.6666666667vw;
  margin: 1.5972222222vw auto;
  margin-top: -1.3888888889vw;
}
.contact-section .messageBtn {
  margin: 1.5972222222vw auto;
  width: 50%;
  padding: auto 0.5555555556vw;
  height: 12.2222222222vw;
  border: 0.2777777778vw solid #2EA787;
  border-top-left-radius: 3.4722222222vw;
  border-bottom-right-radius: 3.4722222222vw;
  font-size: 3.3333333333vw;
  background-color: transparent;
  color: #2EA787;
}
.contact-section form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.6388888889vw;
  justify-content: space-between;
  margin: auto;
  margin-top: 1.9444444444vw;
  padding: auto;
}
.contact-section form .input-container {
  display: flex;
  flex-direction: column;
  gap: 2.6388888889vw;
  justify-content: flex-end;
  align-items: flex-start;
  width: 40%;
}
.contact-section form .input-container label {
  color: #2EA787;
  margin: auto 2.9861111111vw;
  display: inline-block;
}
.contact-section form .input-container input {
  border: none;
  width: 100%;
  margin: auto 2.9861111111vw;
  border-bottom: 4px solid #2EA787;
  background-color: transparent;
  color: #2EA787;
  display: inline-block;
}
.contact-section form .input-container input:focus {
  color: #2EA787;
  outline: none;
  background-color: transparent;
}
.contact-section form .messgage-container {
  margin-top: 2.9861111111vw;
  min-width: 1700px;
}
.contact-section form .messgage-container input {
  width: 1700px;
}
.contact-section form .sendBtn {
  position: relative;
  font-size: 1.6666666667vw;
  line-height: 2.2222222222vw;
  padding: 1.3888888889vw 1.3888888889vw;
  background-color: #2EA787;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6944444444vw;
  margin: auto 34%;
  border-radius: 3.4722222222vw;
  transition: border 1s ease-in, color 1s ease-in, background-color 1s ease-in-out;
}
.contact-section form .sendBtn:hover {
  cursor: pointer;
  border: 2px solid #2EA787;
  background-color: transparent;
  color: #2EA787;
}
.contact-section form .sendBtn .spinner_container {
  z-index: 10;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  place-content: center;
  display: none;
}
.contact-section form .sendBtn .spinner {
  border: 0.6944444444vw solid white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4722222222vw;
  height: 3.4722222222vw;
  border-radius: 50%;
  border-top: 0.6944444444vw solid #2EA787;
  border-bottom: 0.6944444444vw solid #2EA787;
  animation: spin 2s linear infinite;
}
.contact-section form .sendBtn.ignore {
  animation: ignore 5s ease-in-out alternate-reverse infinitr;
}
@keyframes ignore {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-70px);
  }
  50% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}

.partners_images_container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 6.9444444444vw;
  width: 100%;
  height: 10.4166666667vw;
  background-color: white;
}

.partners_images_container nav {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  height: 10.4166666667vw;
  flex-shrink: 0;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: white;
  animation: slide 4s linear infinite;
}

.partners_images_container nav img {
  display: inline-block;
  width: 10.4166666667vw;
  height: 3.4722222222vw;
  flex-basis: 1;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.partners_images_container .partners_images_1 {
  animation-delay: 0s;
}

.partners_images_container .partners_images_2 {
  animation-delay: 0s;
}

footer {
  height: 3.75vw;
  width: 100%;
  background-color: #292F36;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8.8888888889vw auto;
}
footer p {
  font-size: 1.1111111111vw;
  line-height: 1.25vw;
  margin: auto 2.7777777778vw;
  color: white;
  width: -moz-max-content;
  width: max-content;
}
footer .github_link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2EA787;
  border-radius: 50%;
  border: 1px solid white;
}
footer .github_link img {
  width: 2.0833333333vw;
  height: 2.0833333333vw;
}

/*
TOASTER IMPLEMENTATION
*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  gap: 1rem;
  height: 200px;
  font-size: 1.5vw;
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 500px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 50; /* Add a z-index if needed */
  left: calc(50% - 250px); /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.loader-container .loader {
  top: 50%;
  left: 50%;
  border: 0.3vw solid white;
  border-top: 0.3vw solid green;
  border-bottom: 0.3vw solid green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s ease-in-out infinite;
}/*# sourceMappingURL=style.css.map */